$blackSilver: #333333;
$darkSilver: #666666;
$silver: #898F8F;
$whiteSilver: #CCCCCC;
$yellow: #FFCC00;


$raleway: 'Raleway', 'Arial', sans-serif;
$roboto: 'Roboto', 'Arial', sans-serif;
$openSans: 'Open Sans', 'Arial', sans-serif;